@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --green: #0ac30a;
  --lightgreen: #0ac30a2b;
  --verylightgreen: #aad2aa17;
  --darkgreen: #088738;
  --blue: #037eff;
  --black: black;
  --white: white;
  --link-color: black;
  --tableHead: #d1d0d0;
  --tableRowOdd: #f2f2f2;
  --tableRowEven: white;
  --tableBorder: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e4e9f7;
  overflow-x: hidden;
}

body.rtl {
  direction: rtl;
}

body.dark-mode {
  background-color: black;
  color: white;
  --link-color: white;
  --tableHead: #000000;
  --tableRowOdd: #000000;
  --tableRowEven: #252525;
  --tableBorder: #2e2e2e;
}

/* ---------------------------- Log in ------------------------- */

.login {
  height: 100vh;
  background-color: var(--verylightgreen);
}

.log-right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  height: 550px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.wel-txt {
  text-align: center;
  color: gray;
  margin: 10px 0 40px 0;
}

.log-right h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 2rem;
}

.log-right form input {
  padding: 5px 0px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--darkgreen);
  background-color: transparent;
  margin-bottom: 20px !important;
  outline: none;
}

.login-pg-logo {
  text-align: center;
  margin-bottom: 50px;
}

.log-right #login-btn,
#set-pass-btn {
  background-color: var(--darkgreen);
  border: 1px solid transparent;
  width: 100%;
  padding: 10px 10px;
  border-radius: 3px;
  color: white;
  margin-top: 30px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: 0.3s;
}

#login-btn:hover,
#set-pass-btn:hover {
  background-color: transparent;
  color: var(--darkgreen);
  border: 1px solid var(--darkgreen);
}

.log-right .forgot-pass {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  color: var(--darkgreen);
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

#back-login-btn {
  background-color: transparent;
  border: none;
  font-size: 0.9rem;
  color: var(--darkgreen);
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#forgotPass-con {
  display: none;
}

/* ------------------------ Desktop Sidebar ------------------------*/

.maxsidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.maxsidebar.rlt {
  right: 0;
}

.maxsidebar.open {
  width: 250px;
}
.maxsidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.maxsidebar .logo-details .icon,
.maxsidebar .logo-details .logo_name {
  opacity: 0;
  transition: all 0.5s ease;
}
.maxsidebar.open .logo-details .icon,
.maxsidebar.open .logo-details .logo_name {
  opacity: 1;
}
.maxsidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.maxsidebar.open .logo-details #btn {
  text-align: right;
}
.maxsidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.maxsidebar .nav-listt {
  margin-top: 20px;
  height: 100%;
}
.maxsidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.maxsidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  color: black;
}

.maxsidebar li .tooltip.rlt {
  left: auto;
  right: calc(100% + 15px);
}

.maxsidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.maxsidebar.open li .tooltip {
  display: none;
}
.maxsidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}

.maxsidebar li a img {
  width: 35px;
  height: auto;
}

.maxsidebar li a span img {
  width: 150px;
  height: auto;
}

.maxsidebar li .logo:hover {
  background: transparent;
}

.maxsidebar li a:hover {
  background: #fff;
}
.maxsidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.maxsidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.maxsidebar li a:hover .links_name,
.maxsidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.maxsidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.maxsidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.maxsidebar li.profile.rlt {
  right: 0;
}
.maxsidebar.open li.profile {
  width: 250px;
}
.maxsidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.maxsidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

/* -------------------------------- Mobile Bar ------------------------- */

.mobilebar {
  display: none;
}

/* ---------------------------  Dashboard (Commom ) ---------------------- */

.lang-dropdown:hover .lang-dropdown-content {
  display: block;
}

.dashboard-section {
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  padding: 20px;
}

.dashboard-section.rlt {
  left: 0;
  right: 78px;
}

.rtl .dashboard-section {
  left: 0;
}

.maxsidebar.open ~ .dashboard-section {
  left: 250px;
  width: calc(100% - 250px);
}

.maxsidebar.open ~ .dashboard-section.rlt {
  right: 250px;
  left: 0px;
}

.dashboard-section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  height: 50px;
}

.dashboard-section .welcome-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.welcome-text-dashboard {
  font-size: 2rem;
  font-weight: 600;
}

.dashboard-section .welcome-text span , .welcome-text-dashboard span {
  color: var(--blue);
}

.quick-txt{
  color: gray;
}

.header-btns button {
  border: none;
  background-color: transparent;
}

.header-btns a {
  color: var(--link-color);
  font-size: 25px;
  transition: 0.2s;
  border-radius: 50%;
}

.lang-dropdown {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.lang-dropdown span {
  font-size: 1rem;
  margin-right: 5px;
  color: var(--link-color);
}

.lang-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background-color: white;
  color: var(--black);
  padding: 5px 10px;
}

.lang-dropdown-content p {
  font-size: 1rem !important;
}

.dashboard-cols .card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: none !important;
}

.dashboard-cols:first-child .card {
  background-color: #ff000020;
}

.dashboard-cols:nth-child(2) .card {
  background-color: #037dff31;
}

.dashboard-cols:nth-child(3) .card {
  background-color: #bb00ff2a;
}

.dashboard-cols:nth-child(4) .card {
  background-color: #ffc8002c;
}

.card-logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-logo div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid  gray;
  border-radius: 50%;
  padding: 10px;
}

.card-logo img {
  width: 25px;
}

.dashboard-cols .card-title {
  font-size: 1rem;
}

.dashboard-cols .card-text {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px !important;
}

.empty {
  height: 15vh;
}

/* ------------------------ Dashboard ----------------------- */

.table-dashboard {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

}

.table-dashboard thead {
  background-color: var(--lightgreen);
  color: black !important;
}

.table-dashboard th, .table-dashboard td {
  padding: 12px 20px;
  text-align: left;
  font-size: 15px;
}

.table-dashboard th {
  font-weight: 600;
  text-transform: uppercase;
}

.table-dashboard tbody tr {
  border-bottom: 1px solid #e9ecef;
  background-color: var(--verylightgreen);
  transition: background-color 0.3s ease;
}

.table-dashboard tbody tr:hover {
  background-color: #f0efef;
}

.table-dashboard tbody tr:last-child {
  border-bottom: none;
}

.table-dashboard td {
  font-weight: 500;
  color: #495057;
}

.table-dashboard .table-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #212529;
}

.table-dashboard tbody td:first-child {
  color: var(--darkgreen); 
}

  



/* ------------------------ Leaves ----------------------- */

.leave-form form {
  background-color: var(--verylightgreen);
  padding: 20px 0;
}

.leave-form h1 {
  font-size: 1.4rem;
}

.leave-type h6,
.leave-date h6,
.leave-reason h6 {
  font-size: 1.1rem;
  font-weight: 600;
}

.leave-type input,
.leave-type input:hover {
  accent-color: green;
  cursor: pointer;
}

.leave-type label {
  margin-right: 30px;
  margin-top: 10px;
  font-size: 1rem;
  color: grey;
}

.leave-date input {
  border: 1px solid gray;
  color: grey;
  padding: 5px 10px;
  border-radius: 3px;
  width: 70%;
}

.leave-reason textarea {
  width: 90%;
  padding: 10px;
}

.leave-form button:first-child,
.leave-form button:last-child:hover {
  background-color: var(--darkgreen);
  color: white;
  border: 2px solid transparent;
  margin-right: 10px;
  padding: 5px 20px;
}
.leave-form button:first-child:hover,
.leave-form button:last-child {
  border: 2px solid var(--darkgreen);
  background-color: transparent;
  color: var(--darkgreen);
  padding: 5px 20px;
}

.leave-history table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--tableBorder);
}

.leave-history th,
.leave-history td {
  text-align: center;
  padding: 8px;
  border-right: 1px solid var(--tableBorder);
}

.leave-history th {
  background-color: var(--tableHead);
  font-weight: 550;
}

.leave-history tr:nth-child(odd) {
  background-color: var(--tableRowOdd);
}
.leave-history tr:nth-child(even) {
  background-color: var(--tableRowEven);
}

/* ---------------------- Payroll --------------- */

.in-main-heads {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.in-main-heads:first-child {
  border-right: 1px solid gray;
}

.in-main-head {
  padding: 15px 20px;
}

.in-main-cont:nth-child(2) {
  border-left: 1px solid gray;
}

.in-main-cont-left {
  overflow-y: scroll;
  height: 80vh;
}

.in-main-cont-left::-webkit-scrollbar {
  width: 0px;
}

.in-main-cont-rigth {
  overflow-y: scroll;
  height: 80vh;
}

.in-main-cont-rigth::-webkit-scrollbar {
  width: 0px;
}

.in-main-head span {
  font-size: 1.2rem;
  font-weight: 500;
}

.in-main-head button:first-child {
  background-color: transparent;
  font-size: 1rem !important;
}

.in-main-head button {
  border: none;
  padding: 4px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: var(--darkgreen);
  color: white;
  font-weight: 500;
  border: 1px solid transparent;
}

.in-main-head button:nth-child(3) {
  background-color: white;
  color: var(--darkgreen);
  border: 1px solid var(--darkgreen);
}

.in-approve {
  font-size: 0.9rem !important;
}

.payroll-search {
  width: 100%;
  margin-top: 20px;
  padding: 5px 0px;
  border: 1px solid gray;
  outline: none;
  border-radius: 3px;
}

.payroll-search span {
  color: gray;
}
.payroll-search input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.each-in-member {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 5px;
}

.each-in-member .name-inv {
  border-bottom: 2px solid rgb(241, 240, 240);
  margin-top: 10px;
  padding-bottom: 15px;
}

.in-name-amt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 0.9rem;
}

.in-num-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 0.9rem;
}

.in-name {
  font-size: 1.1rem;
}

.in-num {
  color: var(--blue);
  margin-right: 8px;
}

.in-date {
  color: gray;
}

.in-sent {
  color: var(--darkgreen);
}

.viewer_topbar-wrapper {
  margin-top: 40px !important;
}

.payroll-back-btn a {
  text-decoration: none;
  color: var(--darkgreen);
  font-size: 1.5rem;
  margin-right: 20px;
}

.employee-detail-heading {
  background-color: var(--lightgreen);
  padding: 1px 0px;
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

table.tablestyle_inner tr td {
  line-height: 50px;
  padding: 0 10px;
}

.tablestyle_inner tr td:first-child {
  font-weight: 500;
}

.tablestyle_inner a {
  text-decoration: none;
}
.popup_menu_option {
  float: right;
}

table.tablestyle_inner {
  width: 97%;
}

center {
  margin: 10px 0;
}

.payslip_amount_row {
  text-align: right;
  padding-right: 5px;
}

.payslip_general_ledger table.tablestyle tr td {
  width: auto;
}

.ajaxtabs li {
  list-style-type: none;
  display: inline;
}

.ajaxtabs li button {
  border: 2px solid transparent;
  background-color: transparent;
  margin-right: 20px;
  font-weight: 500;
  padding-bottom: 8px;
  transition: 0.2s;
}

.ajaxtabs li button:hover {
  border-bottom: 2px solid var(--darkgreen);
  color: var(--darkgreen);
}

.tablestyle_inner .tableheader {
  background-color: var(--lightgreen);
}

.pay-detail-td {
  width: 100% !important;
}

.payroll-plus-btn {
  width: 45px;
  height: 45px;
  font-size: 1.5rem;
  font-weight: 500;
  position: fixed;
  bottom: 40px;
  right: 50px;
  border: none;
  border-radius: 5px;
  background-color: var(--darkgreen);
  color: white;
}

.payroll-plus-btn.rlt {
  right: auto;
  left: 50px;
}

/* ---------------------- Reimbursement -------- */

.reimbursement-form {
  background-color: var(--verylightgreen);
  padding: 20px;
}

.reimbursement-form label {
  margin-right: 30px;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 300 !important ;
}

.reimbursement-form input {
  padding: 5px 10px;
  width: 100%;
}

#reimbursement-claim-type,
#reimbursement-amount {
  border: 1px solid rgba(128, 128, 128, 0.763);
  border-radius: 2px;
}

#reimbursement-file::file-selector-button {
  background-color: white;
  color: var(--darkgreen);
  border: 1px dotted gray;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px 10px;
}

#reimbursement-file::file-selector-button:hover {
  background-color: #f3f4f6;
}

#reimbursement-file::file-selector-button:active {
  background-color: var(--darkgreen);
  color: white;
}

.reimbursement-form button,
.reimbursement-form button:last-child:hover {
  background-color: var(--darkgreen);
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid transparent;
}

.reimbursement-form button:hover,
.reimbursement-form button:last-child {
  color: var(--darkgreen);
  background-color: white;
  border: 1px solid var(--darkgreen);
}

/* ---------------------- Profile -------------- */

.pro-img {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 5px;
  background-color: var(--verylightgreen);
  height: 100%;
  width: 100%;
}

.pro-img img {
  border-radius: 5px;
  object-fit: cover;
}

.pro-img h5 {
  font-weight: 600;
}

.pro-img button {
  border: 1px solid transparent;
  padding: 5px 15px;
  background-color: var(--darkgreen);
  color: white;
  border-radius: 3px;
  transition: 0.2s;
}

.pro-img button:hover {
  border: 1px solid var(--darkgreen);
  background-color: transparent;
  color: var(--darkgreen);
}

.profile-names {
  line-height: 32px;
}

.profile-names span {
  color: gray;
  font-size: 0.9rem;
}

.profile-names span:first-child {
  font-size: 1rem;
  font-weight: 500;
  color: var(--link-color);
}

.per-details label {
  color: var(--darkgreen);
  margin-bottom: 6px;
}

.per-details input {
  border: none;
  background-color: transparent;
  outline: none;
  margin-bottom: 20px;
  font-weight: 500;
  width: 100%;
  color: var(--link-color);
}

.pro-addres input {
  border: none;
  background-color: transparent;
  outline: none;
  margin-bottom: 20px;
  font-weight: 500;
  width: 100%;
}

#savePersonalDetailsBtn {
  display: none;
  transition: 0.2s;
}

#saveAddressBtn {
  display: none;
  transition: 0.2s;
}

/* -------------------- Mobile and Tablet View ----------------------- */

@media screen and (max-width: 992px) {
  /* ---------------------- Dekstop SideBar -------- */

  .maxsidebar {
    display: none;
  }

  /* ---------------------- Mobile Bar -------------*/

  .mobilebar {
    display: block;
    width: 100vw;
    height: 60px;
    background-color: #11101d;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 10px 5px !important;
  }

  .mobilebar .mb-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  .mobilebar li a {
    display: grid;
    place-items: center;
    font-size: 0.7rem;
    text-decoration: none;
    color: white;
  }

  .mobilebar li a i {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .mobilebar li button {
    display: grid;
    place-items: center;
    font-size: 0.7rem;
    text-decoration: none;
    color: white;
    background-color: #11101d;
    border: none;
  }

  .mobilebar li button i {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  @keyframes Opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .dropdown-menu {
    opacity: 1;
    animation: Opacity 0.3s linear;
  }

  .dropdown-menu li a {
    border-radius: 0%;
    margin: 10px 5px;
    font-size: 1rem;
    color: #11101d;
    display: inline-block;
  }

  .dropdown-menu li a i {
    margin-right: 10px;
  }

  /*----------------------- Dashboard (Common )------------------ */

  .dashboard-section {
    position: static;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    z-index: 2;
    padding: 15px;
  }

  .dashboard-section .welcome-text {
    font-size: 1.3rem;
  }

  .welcome-text-dashboard {
    font-size: 1.5rem;
  }

  /*----------------------- Leave ------------------ */

  .leave-type label {
    margin-right: 0px;
  }

  /* ---------------------- Payroll -------- */

  .in-main-heads {
    border-bottom: 0;
  }
  .payroll-plus-btn {
    position: fixed;
    bottom: 85px;
    right: 30px;
  }
}
